body {
    background-color: #000; /* Fondo negro */
    color: #00FF00; /* Texto verde clásico de terminal */
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 0;
    height: 100vh;
    overflow: hidden; /* Oculta barras de desplazamiento */
}

#terminal {
    font-size: 1.2em;
}

.prompt {
    margin-right: 5px;
}

#input-line {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

#password-input {
    background-color: transparent;
    border: none;
    color: #00FF00;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    caret-color: #00FF00; /* Color del cursor real */
    width: 80%;
}